<script src="/resource/TestResources.js" type="text/javascript"></script>
<div id="formGroup-grp" class="form-group role-wrapper form-formGroup"><span id="form-grp" class="member-prop role-wrapper form-form"><div id="form-SimpleBeanA" class="SimpleBeanA">
<div id="form-address-grp" class="member-prop role-wrapper SimpleBeanA-address"><div id="form-address-SimpleBeanB" class="SimpleBeanB">
<div id="form-address-address1-fld" class="prop role-wrapper SimpleBeanB-address1"><label for="form-address-address1">Address1</label><span id="form-address-address1" class="role-value">1 High Street</span></div>
<div id="form-address-postCode-fld" class="prop role-wrapper SimpleBeanB-postCode"><label for="form-address-postCode">Post Code</label><span id="form-address-postCode" class="role-value">GB34 1AA</span></div>
<div id="form-address-country-fld" class="choice-prop role-wrapper SimpleBeanB-country"><label for="form-address-country">Country</label><span id="form-address-country" class="role-value">United Kingdom</span></div>
<div id="form-address-_autoHidden-grp" style="display: none" class="group role-wrapper SimpleBeanB-_autoHidden"><span id="form-address-address2-fld" class="text-prop role-wrapper SimpleBeanB-address2"><label for="form-address-address2">Address2</label><span id="form-address-address2" class="role-value">Some Town</span></span>
</div>
</div>
</div>
<div id="form-value-grp" class="group role-wrapper SimpleBeanA-value"><span id="form-amount-fld" class="prop role-wrapper SimpleBeanA-amount"><label for="form-amount">Amount</label><span id="form-amount" class="role-value">100.23</span></span>
<span id="form-currency-fld" class="prop role-wrapper SimpleBeanA-currency"><label for="form-currency">Currency</label><span id="form-currency" class="role-value">GBP</span></span>
</div>
<div id="form-date-fld" class="date-prop role-wrapper SimpleBeanA-date"><label for="form-date">Date</label><span id="form-date" class="role-value">30/11/08</span></div>
<div id="form-_autoHidden-grp" style="display: none" class="group role-wrapper SimpleBeanA-_autoHidden"><span id="form-active-fld" class="bool-prop role-wrapper SimpleBeanA-active"><label for="form-active">Active</label><span id="form-active" class="role-value">true</span></span>
</div>
</div>
</span>
</div>
