<script src="/resource/TestResources.js" type="text/javascript"></script>
<form id="formGroup" name="formGroup" method="POST" action="/submitBeanA">
<span id="form-grp" class="member-prop role-wrapper form-form"><div id="form-SimpleBeanA" class="SimpleBeanA">
<div id="form-active-fld" class="bool-prop role-wrapper SimpleBeanA-active"><label for="form-active">Active</label><input class="role-field" checked="checked" type="checkbox" name="form.active" value="true"></input></div>
<div id="form-address-grp" class="member-prop role-wrapper SimpleBeanA-address"><div id="form-address-SimpleBeanB" class="SimpleBeanB">
<div id="form-address-address1-fld" class="text-prop role-wrapper SimpleBeanB-address1"><label for="form-address-address1">Address1</label><input id="form-address-address1" class="role-field" value="1 High Street" type="text" name="form.address.address1"></input></div>
<div id="form-address-postCode-fld" class="text-prop role-wrapper SimpleBeanB-postCode"><label for="form-address-postCode">Post Code</label><input id="form-address-postCode" class="role-field" value="GB34 1AA" type="text" name="form.address.postCode"></input></div>
<div id="form-address-country-fld" class="text-prop role-wrapper SimpleBeanB-country"><label for="form-address-country">Country</label><input id="form-address-country" class="role-field" value="UK" type="text" name="form.address.country"></input></div>
<div id="form-address-_autoHidden-grp" style="display: none" class="group role-wrapper SimpleBeanB-_autoHidden"><span id="form-address-address2-fld" class="text-prop role-wrapper SimpleBeanB-address2"><label for="form-address-address2">Address2</label><input id="form-address-address2" class="role-field" value="Some Town" type="text" name="form.address.address2"></input></span>
</div>
</div>
</div>
<div id="form-amount-fld" class="number-prop role-wrapper SimpleBeanA-amount"><label for="form-amount">Amount</label><input id="form-amount" class="role-field" value="100.23" type="text" name="form.amount"></input></div>
<div id="form-currency-fld" class="text-prop role-wrapper SimpleBeanA-currency"><label for="form-currency">Currency</label><input id="form-currency" class="role-field" value="GBP" type="text" name="form.currency"></input></div>
<div id="form-date-fld" class="date-prop role-wrapper SimpleBeanA-date"><label for="form-date">Date</label><input id="form-date" class="role-field" value="30/11/08" type="text" name="form.date"></input></div>
</div>
</span>
</form>
