<div id="menuItems[0]-menuItem" class="menuItem">
<a id="menuItems[0]-item" class="role-wrapper menuItem-item action-group" href="/testApp/testPage/testWindow/onMenu?menu1=Menu1"><span id="menuItems[0]-name" class="role-value">Menu1</span></a></div>
<div id="menuItems[1]-menuItem" class="menuItem">
<a id="menuItems[1]-item" class="role-wrapper menuItem-item action-group" href="/testApp/testPage/testWindow/onMenu?menu2=Menu2"><span id="menuItems[1]-name" class="role-value">Menu2</span></a></div>
